<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/add_tweet">
    <div>
        <label>Text*</label>
        <div class="input-group">
            <input type="text"  name="Text" maxlength="280">
    </div>
    <div>
        <label>Title*</label>
        <div class="input-group">
            <input type="text"  name="Title" minlength="2">
    </div>
            <!-- Button -->
    <div>
        <input type="submit"/>
    </div>
    Great Job!
</body>
</html>